.btnWrapper{
    display: flex;
}
.btn{
    height: 3rem;
    width: 7rem;
    background-color: #000000;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
}
.btn:disabled{
    background-color: #1e1e1e;
    border-top: 3px solid red;
}

.saveBtn{
    background-color: var(--btn-primary);
}

.editor{
    height: 40vh;
    width: 100%;
}