.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: fit-content;
  height: 90vh;
  background: #ffffff;
}
.editor {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  background-color: black;
}
@media (max-width: 800px) {
  .wrapper {
    margin-top: 0;
    flex-direction: column-reverse;
  }
}
