.backdrop{
    position: absolute;
    height: 100%;
    width: 100vw;
    background: #7ea0be5d;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.wrapper{
    width: fit-content;
    height: fit-content;
    padding: 4rem;
    background: var(--side-bar);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.wrapper h1{
    margin: 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.input label {
    font-size: 1.1rem;
}
.input input{
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid var(--btn-primary);
    background: transparent;
    width: 15rem;
    height: 2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: var(--text);
}
.input input:focus{
    outline: none;
}
.button{
    display: flex;
    gap: 1rem;
}
.button button{
    border: none;
    width: 5rem;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background: var(--text);;
    color: var(--bg);
}

@media (max-width: 400px) {
    .wrapper{
        width: fit-content;
        height: fit-content;
        padding: 2.5rem;
        background: var(--side-bar);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}