:root{
    --btn-primary: #0091ff;
    --para: #bababa;
    --text: #f0f8ff;
    --bg: #000000;
    --card: #24212c;
    --nav: #0000007e;
}

.lightMode{
    --para: #2e2e2e;
    --text: rgb(46, 42, 42);
    --bg: #f0f8ff;
    --card: #ffffffa3;
    --nav: #d7eeff89;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg);
    overflow-x: hidden;
}

.absolute{
    top: 0;
    left: -10rem;
    height: 11rem;
    width: 50rem;
    position: absolute;
    z-index: -1;
}

.absolute::before{
    content: '';
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: blur(110px);
    position: absolute;
    rotate: -15deg;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .absolute{
        height: 20vh;
        width: 30rem;
    }
}