.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.editorLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    gap: 1rem;
}
.link{
    text-decoration: none;
    color: var(--text);
}

.scroller{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.outer{
    border-radius: 20px;
    height: 4rem;
    width: 2rem;
    background: transparent;
    border: 3px solid var(--btn-primary);
    display: flex;
    justify-content: center;
}
.inner{
    border-radius: 50%;
    background: var(--btn-primary);
    width: 1rem;
    height: 1rem;
    animation: scrolling 2s infinite;
}

@keyframes scrolling {
    0%, 100%{
        margin: 0.5rem;
    }
    50%{
        margin: 2.5rem 0 0;
    }
}

.gs h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    color: var(--text);
}
.gs h1 span{
    color: var(--btn-primary);
}

.gs p{
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 25vw;
    color: var(--para);
}

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cards::before{
    content: '';
    height: 15%;
    width: 70%;
    rotate: -4deg;
    position: absolute;
    z-index: -1;
    background: var(--gradient);
    filter: blur(80px);
}

@media(max-width: 1000px){
    .gs p{
        padding: 2rem 20vw;
    }
}

@media(max-width: 768px) {
    .gs p{
        padding: 2rem 10vw;
    }
    .cards{
        flex-direction: column;
    }
}