.container {
  display: flex;
  justify-content: center;
  margin: 10rem 0 5rem;
  gap: 2rem;
}
.wrapper {
  width: 45vw;
  display: flex;
  flex-direction: column;
}
.wrapper .span1 {
  margin: 0;
  font-size: 2rem;
}
.wrapper h1 {
  margin: 0;
  font-size: 7vw;
  font-weight: 800;
}
.wrapper h1 span {
  color: var(--btn-primary);
}
.wrapper p {
  color: var(--para);
  font-size: 1.2rem;
}
.imageWrapper {
  width: fit-content;
}
.img {
  width: 400px;
  height: 400px;
  filter: drop-shadow(-0.5rem -0.5rem 20px rgb(24, 24, 24));
}
.imageWrapper::before {
  content: "";
  background: #007bff;
  position: absolute;
  right: 0;
  width: 35%;
  height: 60%;
  rotate: 0;
  filter: blur(300px);
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.cards::before {
  content: "";
  height: 15%;
  width: 70%;
  rotate: -4deg;
  position: absolute;
  z-index: -1;
  background: var(--gradient);
  filter: blur(80px);
}
.cardLogo{
  color: var(--text);
  font-size: 3rem;
}
@media (max-width: 900px) {
  .container {
    margin: 8rem 0;
  }
  .img {
    width: 300px;
    height: 300px;
  }
  .wrapper h1 {
    font-size: 3.5rem;
  }
  .wrapper .span1 {
    font-size: 1.5rem;
  }
  .wrapper p {
    font-size: 1rem;
  }
  .cards {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 4rem 0;
  }
  .imageWrapper {
    display: none;
  }
  .wrapper {
    width: fit-content;
    text-align: center;
  }
  .wrapper p{
    width: 85vw;
  }
  .cardLogo{
    display: none;
  }
}