.main {
  overflow: hidden;
}

.gs h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  padding: 0 1rem;
}
.gs h1 span {
  color: var(--btn-primary);
}

.gs p {
  padding: 0 25vw;
  font-size: 1.2rem;
  text-align: center;
  color: var(--para);
}

.cards {
  margin: 4rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cards::before {
  content: "";
  height: 15%;
  width: 70%;
  rotate: -4deg;
  position: absolute;
  z-index: -1;
  background: var(--gradient);
  filter: blur(80px);
}

@media (max-width: 1000px) {
  .gs p {
    padding: 0 15vw;
  }
}
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .gs h1 {
    font-size: 3rem;
  }
  .gs p {
    padding: 0 10vw;
  }
  .cards {
    flex-direction: column;
  }
}
