.container{
    display: flex;
    justify-content: space-around;
    padding: 20vh 0 10vh;
}

.wrapper{
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.wrapper h3{
    margin: 0;
    font-size: 2rem;
    color: var(--text);
}
.wrapper h1{
    margin: 0;
    font-size: 7vw;
    font-weight: 800;
    color: var(--text);
}
.wrapper h1 span{
    color: var(--btn-primary);
}
.wrapper p{
    text-align: center;
    color: var(--para);
    font-size: 1.5vw;
}
.imageWrapper{
    position: relative;
    width: 38vw;
}
.img, .img2{
    width: 30vw;
    height: 30vw;
    aspect-ratio: 1/1;
    position: absolute;
}
.img2{
    margin: 10vw 0 0 10vw;
}
        
.imageWrapper::before{
    content: '';
    background: rgb(0, 123, 255);
    margin: 10vw 0 0 10vw;
    width: 40%;
    height: 70%;
    rotate: 10deg;
    position: absolute;
    filter: blur(100px);
}

@media (max-width: 1000px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10rem 0 0;
    }
    .wrapper{
        width: fit-content;
        padding: 0 1.5rem;
        align-items: center;
        justify-content: center;
    }
    .wrapper h1{
        font-size: 12vw;
    }
    .wrapper p{
        font-size: 1.25rem;
        width: 60vw;
    }
    .imageWrapper{
        display: none;
    }
}
@media (max-width: 768px) {
    .wrapper h1{
        font-size: 15vw;
    }
    .wrapper h3{
        font-size: 6vw;
    }
    .wrapper p{
        width: fit-content;
    }
}