.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--nav);
    top: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 9;
    backdrop-filter: blur(20px);
}

.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem 0.3rem;
}

.logo{
    text-decoration: none;
    color: var(--text);
    font-size: 2rem;
    font-weight: 600;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1.5rem;
}

.sideBar{
    display: flex;
    align-items: center;
}

.controller{
    display: none;
    padding: 0 1.5rem 0 0;
    font-size: 2.5rem;
    color: var(--text);
}

.controller[name="close-btn"] {
    display: none;
}

.btn{
    border: none;
    background: var(--text);
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    color: var(--bg);
    font-size: 1.25rem;
    padding: 0.3rem 0 0;
}

.link, .navLinkIco{
    color: var(--text);
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    transition: 0.1s ease-out;
}
.navLinkIco{
    font-size: 1.5rem;
}

.link:hover{
    scale: 1.05;
    transition: 0.1s ease-in;
    color: var(--btn-primary);
}

@media (max-width: 1000px) {
    .wrapper{
        justify-content: space-between;
    }
    .list{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 20vh;
        background-color: var(--bg);
        position: absolute;
        top: 0;
        padding: 5rem 0;
        transform: translateY(-25rem);
        transition: 0.3s;
        gap: 1.5rem;
    }
    .active .list{
        transform: translateX(0);
        border-bottom: 1px solid #afafaf;
    }
    .link{
        width: 100vw;
        justify-content: center;
    }
    .link::after{
        content: '';
        height: 1px;
        width: 70%;
        background: #afafaf;
        position: absolute;
        margin: 2rem 0 0;
    }
    .controller{
        display: block;
    }
    .active .controller[name="menu-btn"]{
        display: none;
    }
    .active .controller[name="close-btn"]{
        display: block;
        position: relative;
        z-index: 11;
    }
    .sideBar{
        gap: 1rem;
    }
}