.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--bg);
  top: 0;
  position: fixed;
  width: 100%;
  height: 3.5rem;
  z-index: 9;
}
.navLogo {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 500;
}
.list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link,
.navLinkIco {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.1s ease-out;
}
.navLinkIco {
  font-size: 1.5rem;
}
.link:hover {
  scale: 1.05;
  transition: 0.1s ease-in;
  color: var(--btn-primary);
}
.btna {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  gap: 6px;
  color: var(--text);
  border-radius: 10px;
}
.btna:active {
  background: rgba(128, 128, 128, 0.336);
}
@media (max-width: 800px) {
  .wrapper {
    justify-content: center;
    top: auto;
    bottom: 0;
    height: 5rem;
  }
  .navLogo {
    display: none;
  }
  .list {
    gap: 5vw;
  }
  .link {
    flex-direction: column;
  }
  .btna {
    flex-direction: column;
  }
}
