.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.outer{
    height: 1rem;
    width: 15rem;
    border: 4px solid var(--text);
    background: transparent ;
    border-radius: 25px;
}
.inner{
    height: 100%;
    background: var(--btn-primary);
    animation: progress 10s linear;
    border-radius: 25px;
}
@keyframes progress {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.wrapper h1{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 400;
    animation: pulse 1s infinite ease-in;
}
@keyframes pulse {
    from {
        opacity: 1;
    }
    to{
        opacity: 0.3;
    }
}