.wrapper{
    width: 15vw;
    height: 100vh;
    padding: 0 2.5rem;
    background: var(--side-bar);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.52);
    transition: 0.5s ease-out;
    z-index: 9;
}
.menu{
    display: none;
}
.menuIco{
    cursor: pointer;
    font-size: 1.5rem;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}
.listItems{
    list-style: none;
    padding: 1rem;
    border-radius: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}
.listItems:hover{
    border-left: 5px solid var(--btn-primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #7b9cc065;
}
.btn{
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-primary);
    color: var(--text);
}
@media (max-width: 1000px) {
    .wrapper {
        transform: translateX(-20rem);
        position: absolute;
        width: fit-content;
        margin: 0;
    }
    .active.wrapper{
        transform: translateX(0);
    }
    .menu{
        display: block;
        z-index: 10;
        position: absolute;
        padding: 0.8rem;
        background: var(--card-bg);
        color: var(--text);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}