.wrapper{
    display: flex;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fallback{
    font-weight: 100;
    color: var(--para);
    text-align: center;
    max-width: 40rem;
}