.box {
  height: 10rem;
  width: 100vw;
  background: var(--side-bar);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.details h1{
    margin: 0;
}
.details h1 span{
    color: var(--btn-primary);
}
.routes{
    display: flex;
    gap: 1rem;
}
.link{
    text-decoration: none;
    color: var(--text);   
}

@media (max-width: 800px) {
    .box{
        flex-direction: column;
        margin-bottom: 5rem;
        justify-content: center;
        align-items: baseline;
    }
    .details, .disclamer{
        padding-left: 2rem;
    }
}