.wrapper{
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #ffffff;
}

.editor{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    background-color: black;
}

@media(max-width: 800px) {
    .wrapper{
        margin-top: 0;
        flex-direction: column-reverse;
    }
}

