.btn{
    font-size: 1rem;
    border: none;
    background: var(--btn-primary);
    width: fit-content;
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 5px;
    color: aliceblue;
}
.btn:hover{
    background: #27a1ff;
}