.btn{
    font-size: 1rem;
    border: none;
    background: var(--btn-primary);
    width: fit-content;
    height: 2.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: aliceblue;
}