.wrapper{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    background: var(--card-bg);
    justify-content: space-between;
    padding: 1.5rem;
    border: 1px solid var(--para);
}
.wrapper h2{
    margin: 0;
    font-size: 1.5rem;
}

.wrapper .desc{
    text-align: left;
    padding: 0;
    font-size: 1rem;
    color: var(--para);
}

.link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

@media (max-width: 900px) {
    .wrapper{
        width: 70vw;
        height: fit-content;
    }
}