.wrapper{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    background: #24212c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.wrapper h1{
    margin: 0;
    font-size: 2rem;
}

.wrapper h3{
    margin: 1rem;
}

.link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

@media (max-width: 768px) {
    .wrapper{
        width: 18rem;
        height: 14rem;
    }
}