.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
}
.link{
    color: var(--text);
    font-size: 1.8rem;
    transition: 0.1s ease-out;
}
.link:hover{
    color: var(--btn-primary);
    scale: 1.15;
    transition: 0.1s ease-in;
}